.service-main {
    width: 65%;
}

.service-img-side {
    margin-left: 2%;
    width: calc(60% - 20px);
}

.service-side {
    display: flex;
    flex-direction: column;
    width: 30%; 
}

.service-img-container {
    flex-direction: row;
}

.service-side div {
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
}

.service-side .service-text {
    padding: 0;
}

.other-services p {
    font-size: 3em;
}

.service-text {
    padding: 0 20px;
}

.service-image {
    margin-left: 20px;
}

.other-img {
    background-position: center;
    height: 225px;
    width: 225px;
    clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
    margin: 20px;
}

.service-panel {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .service-text {
        width: 100%;
        padding: 0;
    }

    .service-image {
        width: 100%;
        margin-left: 0;
    }

    .service-side {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .service-img-side {
        margin-left: 0;
        width: 100%;
        order: -1;
    }

    .service-img-container {
        flex-direction: column;
    }

    .service-panel {
        flex-direction: column;
    }

    .service-main {
        height: auto;
        width: 100%;
    }

    .service-side div {
        margin-bottom: 0;
        background-color: white;
    }
}