.service-image {
    width: 60%;
    height: 400px;
}

.other-services p {
    font-size: 3em;
}

.other-img {
    background-size: 250px 250px;
    background-position: center;
    height: 250px;
    width: 250px;
    clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
    margin: 20px;
}

.service-0 {
    background-color: var(--ecma-blue);
    color: white;
    width: 40%;
}

.service-0, .service-1, .service-2 {
    width: 40%;
}

.service-2 {
    background-color: rgb(219, 219, 219);
}

.service-text {
    padding: 30px;
    height: 400px;
    min-width: 300px;
}

.service-3 {
    min-width: 100px;
    width: 20%;
}

@media screen and (max-width: 900px) {
    .service-text {
        width: 100%;
    }

    .service-image {
        width: 100%;
        order: -1;
    }
}