.services-container {
    background-color: #EAE6E6;
}

.services-bt {
    display: table;
    border: 0px;
    margin: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    background-position: center;
    background-blend-mode: overlay;
    font-size: 1.5em;
    transition: all 0.5s;
    cursor: pointer;
}

.services-bt-main {
  width: 250px;
  height: 250px;
}

.services-bt-others {
  width: 225px;
  height: 225px;
}

.services-bt:hover {
    background-color: rgba(0, 0, 0, 0.20);
    color: rgb(255, 255, 255);
}

.services-bt:active {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(200, 200, 200);
}

.services-bt-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

.services-bt:hover {
    color: white;
}

#pilates-bt {
    background-image: url(./pilates.jpg);
    background-size: 376px 250px;
}

#personal-bt {
    background-image: url(./treinamento.jpg);
    background-size: 333px 250px;
}

#fisioterapia-bt {
    background-image: url(./fisioterapia.jpg);
    background-size: 382px 250px;
}

#osteopatia-bt {
    background-image: url(./osteopatia.jpg);
    background-size: 333px 250px;
}

#relaxar-bt {
  background-image: url(./espacorelaxar.jpg);
  background-size: 376px 250px;
}