.service-title {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-blend-mode: overlay;
}

.other-services p {
    font-size: 3em;
}

.other-img {
    background-size: 250px 250px;
    background-position: center;
    height: 250px;
    width: 250px;
    clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
    margin: 20px;
}

.service-column-1 {
    width: 60%;
}

.service-column-2 {
    width: 40%;
}

@media screen and (max-width: 900px) {
    .service-column-1,  .service-column-2 {
        width: 100%;
    }
}