.intro-title {
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5em;
}

.intro-text-container {
    width: 40%;
}

.intro-text {
    font-size: 1em;
}

@media screen and (max-width: 900px) {
    .intro-text-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .intro-title {
        font-size: 12vw;
    }
}

@media screen and (max-width: 460px) {
    .intro-title {
        font-size: 12vw;
    }
}