.intro-title {
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5em;
}

.intro-title-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 5vw;
    margin-right: 5vw;
}

.intro-text-container {
    width: 40%;
    margin-left: 5vw;
    margin-right: 5vw;
}

.intro-text {
    font-size: 1em;
}

@media screen and (min-width: 1366px) {
    .intro-text-container{
        margin-left: 30px;
        margin-right: 0;
    }

    .intro-title-container {
        margin-left: 0;
        margin-right: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .intro-text-container{
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro-title-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 900px) {
    .intro-text-container{
        width: 100%;
    }

    .intro-title-container {
        width: auto;
    }

    .intro-container {
        flex-wrap: wrap;
    }

    .intro-title {
        font-size: 12vmin;
    }

}