.clinic-panel {
    width: 50%;
    height: auto;
}

.clinic-hidden {
    display: none;
}

.clinic-history, .clinic-panel {
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.clinic-history {
    background-color: rgb(240, 240, 240);
}

.history-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

#history-img1 {
  width: 30%;
}

#history-img2 {
  width: 68%;
}

#history-text3, #newecma-img1, #history-img3, #newecma-img2 {
  width: 49%;
}

#history-text4 {
  width: 65%;
}

#history-img4 {
  width: 33%;
}

@media screen and (max-width: 900px) {
  .clinic-panel {
      width: 100%;
      height: auto;
      margin: 0;
  }

  .history-panel {
    margin-top: 0;
    margin-bottom:0;
  }

  #history-img1, #history-img2, #history-img3, #history-text3, #history-img4, #history-text4, #newecma-img1, #newecma-img2 {
    width: 100%;
  }

  #history-img1 {
    margin-bottom: 10px;
  }

  #newecma-img2 {
    margin-top: 10px;
  }
}