.clinic-panel {
    width: 55%;
    height: auto;
}

.clinic-hidden {
    display: none;
}

.clinic-history, .clinic-panel {
    padding: 1em 2em 1em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.clinic-history {
    background-color: rgb(240, 240, 240);
}

.clinic-img {
    width: 45%;
    background-color: lightgray;
}

@media screen and (max-width: 900px) {
    .clinic-panel {
        width: 100%;
        height: auto;
    }

    .clinic-img {
        height: 20em;
    }
}