.icon-card {
    width: 325px;
    padding: 2em;
}

.icon-card-text {
    height: 4.5em;
    line-height: 1.5em;
}

@media screen and (max-width: 750px) {
    .icon-card {
        width: 100%;
    }
}