.contact-info {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto-fit;
    align-items: center;
    justify-content: center;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.grid-gap{
    padding-bottom: 10px;
}