form {
    min-width: 200px;
    max-width: 900px;
}

form input, form textarea, .input-mask {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

form textarea {
    height: 200px;
}

.error-msg {
    color: red;
}

#formTel, .error-msg {
    margin-bottom: 16px;
}

.form-error {
    border-color: red;
}

.success-message {
    color: green;
}

.form-button {
    width: 6em;
}