nav a {
    color: var(--ecma-blue);
}

nav a:hover {
    color: var(--ecma-gold);
}

.navigation {
    padding: 0 1vw;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}

.mobile-navigation {
    box-shadow: 0 4px 2px -2px rgba( 0, 0, 0, 0.2 );
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: none;
}

.logoContainer {
    align-self: flex-start;
    max-width: 20%;
}

.headerLogo {
    height: 12vh;
}

.menuItems {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    max-width: 75%;
}

.menu-item {
    height: 12vh;
    padding: 0 20px;
    margin: 2px 0 0 0;
    border-bottom: 5px solid white;
}

.mobile-menu-item {
    display: block;
    line-height: 2.5em;
    padding: 0 25px;
    border-left: 5px solid white;
}

.menuItems p {
    font-size: 20px;
    cursor: pointer;
    color: #192835;
}

.menu-mobile a {
    font-size: 20px;
}

.menuItems p:hover, .menu-icon:hover, .menu-mobile p:hover {
    color: #957E51;
}

.menu-icon {
    display: none;
    border: none;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content, .show-dropdown {
    display: block;
}

.dropdown-content a {
    float: none;
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-left: 5px solid white;
}

.nav-active {
    border-bottom: 5px solid var(--ecma-gold);
}

.dropdown-active {
    border-left: 5px solid var(--ecma-gold) !important;
}

@media screen and (max-width: 960px) {
    .menu-item {
        display: none;
    }

    .menu-icon,  .show-mobile-menu, .show-mobile-menu .dropdown-content {
        display: block;
    }
    
    .show-mobile-menu .dropdown {
        width: 100%;
    }

    .navigation .dropdown-content {
        display: none;
    }

    .dropdown-content {
        position: relative;
        box-shadow: none;
    }
}