.card-container {
    width: 100%;
    padding: 20px;
    padding-top: 4em;
    padding-bottom: 4em;
}

.card-container-bg {
    background-color: hsl(0, 0%, 97%);
}

.card-img {
    width: 45%;
    height: 300px;
}

.card-info {
    width: 55%;
    padding: 0 2em; 
}

.card-flip {
    flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
    .card-container {
        justify-content: center;
    }

    .card-inner {
        flex-direction: column;
        max-width: 500px;
    }

    .card-img {
        width: 100%;
        height: 300px;
    }

    .card-info {
        width: 100%;
        padding: 0;
    }

    .card-button {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .card-inner {
        max-width: 300px;
    }

    .card-img {
        height: 200px;
    }
}