.carousel {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.carousel-container {
    background-image: url(./clinica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(25, 40, 53, 0.61);
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    overflow: hidden;

}

.subtitle {
    font-weight: 400;
    font-size: 2em;
}

