.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.carousel-container {
    display: flex !important;
    background-image: url(./clinica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(25, 40, 53, 0.61);
    width: 100%;
    height: calc(100vh - 75px);
    background-blend-mode: overlay;
    overflow: hidden;
    padding-bottom: calc(60px + 0.67em);
}

.carousel-title {
    font-size: 4vh;
}

.carousel-subtitle {
    font-weight: 300;
    font-size: 4vh;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
}


@media (orientation: landscape) {
    .carousel-title {
        font-size: 7vh;

    }
    .carousel-subtitle {
        font-size: 4vh;
    }
}

