.carousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.carousel-container {
    background-image: url(./clinica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(25, 40, 53, 0.61);
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    overflow: hidden;
    padding-bottom: calc(60px + 0.67em);
}

.carousel-title {
    font-size: 4em;
}

.carousel-subtitle {
    font-weight: 300;
    font-size: 3vh;
}

@media screen and (max-width: 700px) {
    .carousel-title {
        font-size: 10vw;

    }
    .carousel-subtitle {
        font-size: 7vw;
    }
}

