.button {
    width: 600px;
    height: 60px;
    border-radius: 30px;
    background-color: #957E51;
    margin-top: 70px;
}

.text {
    padding-left: 0;
    text-align: center;
    line-height: 60px;
    font-size: 2.5em;
}