.footer {
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-logo-container {
    width: 35%;
}

.footer-icon {
    margin-right: 25px;
}

.footer-info {
    width: 55%;
    display: grid;
}

.footer-text {
    font-size: 1em;
    line-height: 1.4em;
}

.footer-inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
}

.footer-social-media {
    flex-direction: column;
    width: 15%;
}

.footer-link {
    text-decoration: none;
}

.footer-link:visited, .footer-link:link {
    color: white;
}

.footer-link:hover {
    color: lightgrey;
}

.footer-link:active {
    color: grey;
}

.social-icon {
    margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 900px) {
    .footer-inner {
        flex-direction: column;
    }

    .footer-info {
        flex-direction: column;
        width: 100%;
    }

    .footer-social-media {
        flex-direction: row;
        margin-top: 30px;
        width: 100%;
    }

    .footer-logo-container {
        width: 100%;
    }

    .social-icon {
        margin: 0px 5px 0px 5px;
    }
}