.footer-logo {
    height: 15vh;
    margin-right: 30px;
}

.footer-icon {
    margin: 0px 25px 0px 0px;
}

.footer-ma {
    margin-left: 30px;
    margin-right: 30px
}

.footer-text {
    font-size: 1em;
    line-height: 1.4em;
    margin: px 0px 0px 20px;
    margin-block-end: 0px;
    margin-block-start: 0px
}

.footer-wrapper {
    padding: 30px 20px 30px 20px
}

.footer-link:visited, .footer-link:active, .footer-link:link {
    color: white;
}

.footer-link:hover {
    color: rgb(223, 221, 217);
    transition: 0.8s linear;
}