.footer-logo {
    max-width: 300px;
}

.footer-icon {
    margin-right: 25px;
}

.footer-text {
    font-size: 1em;
    line-height: 1.4em;
}

.footer-inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
}

.footer-social-media {
    flex-direction: column;
}

.footer-link:visited, .footer-link:link {
    color: white;
}

.footer-link:hover {
    color: lightgrey;
}

.footer-link:active {
    color: grey;
}

.social-icon {
    margin: 5px 0px 5px 0px;
}

@media screen and (max-width: 800px) {
    .footer-inner {
        flex-direction: column;
    }

    .footer-info {
        margin-top: 30px;
        flex-direction: column;
    }

    .footer-social-media {
        flex-direction: row;
        margin-top: 30px;
    }

    .social-icon {
        margin: 0px 5px 0px 5px;
    }
}