@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

:root {
  --ecma-gold: #957E51; 
  --ecma-dark-gold: rgb(112, 93, 54);
  --ecma-blue: #192835;
}

body, html {
  margin:0;
}

.App {
  text-align: center;
}

.title {
  font-size: 10vh;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 10vw;
  }
}

.section-ma {
  margin-bottom: 10vh;
}

.section-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.center {
  display: flex;
  justify-content: center;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.hpa {
  padding-left: 30px;
  padding-right: 30px;
}

.hma {
  margin-left: 30px;
  margin-right: 30px;
}

.max-width {
  max-width: 1080px;
}

.roboto {
  font-family: 'Roboto', 'Haleway', serif; 
}

.lato {
  font-family: 'Lato', 'Haleway', serif; 
}

.overpass-mono {
  font-family: 'Overpass Mono', monospace;
}

.color-ecma-gold {
  color: var(--ecma-gold);
}

.color-ecma-blue {
  color: var(--ecma-blue);
}

.bg-ecma-blue {
  background-color: var(--ecma-blue);
}

.color-default {
  color: #413E3E;
}