@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  height:100%;
  margin:0;
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.hpa {
  padding-left: 10vh;
  padding-right: 10vh;
}

.hma {
  margin-left: 10vh;
  margin-right: 10vh;
}

.roboto {
  font-family: 'Roboto', 'Haleway', serif; 
}

.lato {
  font-family: 'Lato', 'Haleway', serif; 
}