@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

:root {
  --ecma-gold: #957E51; 
  --ecma-dark-gold: rgb(112, 93, 54);
  --ecma-light-gold: rgb(199, 176, 131);
  --ecma-blue: #192835;
}

body, html {
  margin:0;
}

a {
  text-decoration: none;
  color: var(--ecma-blue);
}

a:hover {
  color: var(--ecma-gold);
}

.App {
  text-align: center;
}

.title {
  font-size: 3em;
  margin-bottom: 60px;
}

.section-subtitle {
  font-size: 1.3em;
  line-height: 1.6em;
}

.section-ma {
  margin-bottom: 10vh;
}

.section-container {
  padding-bottom: 60px;
}

.section-vpa {
  padding-bottom: 120px;
  padding-top: 120px;
}

.container-vpa {
  padding-bottom: 60px;
  padding-top: 60px;
}

.container-tpa {
  padding-top: 60px;
}

.center {
  display: flex;
  justify-content: center;
}

.top-page {
  margin-top: 12vh;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.hpa {
  padding-left: 30px;
  padding-right: 30px;
}

.hma {
  margin-left: 30px;
  margin-right: 30px;
}
.min-max-width {
  max-width: 1080px;
  min-width: 360px;
}

.roboto {
  font-family: 'Roboto', 'Haleway', serif; 
}

.lato, .text {
  font-family: 'Lato', 'Haleway', serif; 
}

.text {
  line-height: 1.8em;
  font-size: 1.1em;
}

.overpass-mono {
  font-family: 'Overpass Mono', monospace;
}

.color-ecma-gold {
  color: var(--ecma-gold);
}

.color-ecma-blue {
  color: var(--ecma-blue);
}

.bg-ecma-blue {
  background-color: var(--ecma-blue);
}

.color-default {
  color: #413E3E;
}

.button {
  display: inline-block;
  max-width: 16em;
  padding: 0.35em 1.2em;
  border-radius: 2em;
  background-color: var(--ecma-gold);
  box-sizing: border-box;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  transition: all 0.2s;
  margin-top: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: var(--ecma-dark-gold);
}

.disabled, .disabled:hover, .disabled:active  {
  background-color: var(--ecma-light-gold);
  cursor: auto;
}

#map {
  height: 40vh;
  width: 100%;
}